{block title}Homepage{/block}

{block content}
    <div id="banner">
        <h1>{include title|striptags}</h1>
    </div>

    <div id="content">
        {include '../layout/alerts.latte'}
    </div>
{/block}
