app/config/local.neon
/**/node_modules/*
/**/bower_components/*
/**/log/*
/**/cache/*
/**/builds/*
/**/temp/*
.vscode/

vendor/*
!vendor/olicek/
!vendor/olicek/dropzone-uploader/
vendor/olicek/dropzone-uploader/.git
vendor/olicek/dropzone-uploader/__.git

!.gitignore
!.htaccess
