/app/config/local.neon
/node_modules/
/**/log/*
/**/temp/*

vendor/*
!vendor/olicek/
!vendor/olicek/dropzone-uploader/
vendor/olicek/dropzone-uploader/.git
vendor/olicek/dropzone-uploader/__.git

!.gitignore
!.htaccess
