php:
    date.timezone: Europe/Prague


application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter


session:
    autoStart: true
    expiration: 14 days
    debugger: false


di:
    export:
        parameters: yes
        tags: no


database:
    user: %database.user%
    password: %database.password%
    dsn: "mysql:host=%database.host%;port=%database.port%;dbname=%database.name%"
    options:
        lazy: true


services:
    # Model
    - App\Model\HistoryLog
    - App\Model\Storage
    - App\Model\StorageFiles
    - App\Model\StorageTree

    # Forms
    - App\Forms\SignInFormFactory

    # Presenters
    - App\Presenters\CronPresenter(%cron.hash%)

    latte.latteFactory:
        setup:
            - setTempDirectory(null)

    router: App\Router\RouterFactory::createRouter
    authenticator: App\Model\User\Authenticator

extensions:
    dropzone: Oli\Form\DropzoneUploaderExtension

dropzone:
    wwwDir: 'data'
    path: 'data'
    settings:
        maxFiles: 50
        fileSizeLimit: 5000000000
        ajax: true
        onSuccess: 'this'
